{# <div class="deskripsi mx-3">
    <div class="container">
        <div class="row">
            <div class="col order-md-1">
                <img class="w-100 mb-5" src="{{beranda.image1}}" alt="">
            </div>
            <div class="col-md-7 mt-md-3">
                <h2 class="title text-uppercase">{{beranda.title1}}</h2>
                <p class="sub-title">{{beranda.stitle1}}</p>
            </div>
        </div>
    </div>
</div> #}