  <div class="page-section border-top">
      <div class="container">
        <div class="text-center wow fadeInUp">
          <h2 class="title-section">Pricing Plan
          </h2>
          <div class="divider mx-auto"></div>
        </div>
  			{% for pricing in pricings %}
        <div class="row justify-content-center">
          <div class="col-12 col-lg-auto py-3 wow fadeInLeft">
            <div class="card-pricing">
              <div class="header">
                <img src="{{pricing.image}}" width="250px" height="250px"> 
                <div class="price-title">{{pricing.title}}</div>
              </div>
              <div class="body py-3">
                <div class="price-tag">
                  <span class="currency">$</span>
                  <h2 class="display-4">{{pricing.harga}}</h2>
                  <span class="period">/monthly</span>
                </div>
                <div class="price-info">
                  <p>{{pricing.button}}</p>
                </div>
              </div>
              <div class="footer">
                <a href="#" class="btn btn-outline rounded-pill">Choose Plan</a>
              </div>
            </div>
          </div>
          {% endfor %}
  
          {# <div class="col-12 col-lg-auto py-3 wow fadeInUp">
            <div class="card-pricing active">
              <div class="header">
                <div class="price-labled">Best</div>
                <div class="price-icon"><span class="mai-business"></span></div>
                <div class="price-title">Dedicated</div>
              </div>
              <div class="body py-3">
                <div class="price-tag">
                  <span class="currency">$</span>
                  <h2 class="display-4">60</h2>
                  <span class="period">/monthly</span>
                </div>
                <div class="price-info">
                  <p>Choose the plan that right for you</p>
                </div>
              </div>
              <div class="footer">
                <a href="#" class="btn btn-outline rounded-pill">Choose Plan</a>
              </div>
            </div>
          </div>
  
          <div class="col-12 col-lg-auto py-3 wow fadeInRight">
            <div class="card-pricing">
              <div class="header">
                <div class="price-icon"><span class="mai-rocket-outline"></span></div>
                <div class="price-title">Private</div>
              </div>
              <div class="body py-3">
                <div class="price-tag">
                  <span class="currency">$</span>
                  <h2 class="display-4">90</h2>
                  <span class="period">/monthly</span>
                </div>
                <div class="price-info">
                  <p>Choose the plan that right for you</p>
                </div>
              </div>
              <div class="footer">
                <a href="#" class="btn btn-outline rounded-pill">Choose Plan</a>
              </div>
            </div>
          </div> #}
          
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->