<title>Portal PPDB - Alur PPDB</title>
{% include 'partials/_head.twig' %}
<body>
    {% setcontent alurs = 'alur' earliest limit 4 %}
    {% setcontent footer = 'footer' %}
<header>
    {{ menu('main', template='partials/_menu.twig') }}
    {# {% include 'partials/_menu.twig' %} #}
</header>
<main>
    {% include 'partials/_alur_ppdb.twig' with { content: alurs, contenttype: 'alurs' } %}
</main>
<footer>
    {# {{ menu('main', template='partials/_footer.twig') }} #}
    {% include 'footer.twig' with { content: footer, contenttype: 'footer' } %}
</footer>
    {% include 'partials/_script.twig' %}
</body>
</html>