body{
    font-family: 'Poppins';
    text-decoration: none;
}

/* Navbar */
.bg_nav{
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.navbar-light .navbar-nav .nav-link.active{
    color: #5D16A6;
}

a.nav-link {
    font-family: 'Poppins';
    font-weight: 500;
}

.btn, .dropdown-toggle {
    font-family: 'Poppins';
    font-weight: 500;
    color: rgba(100, 95, 136, 0.75);
}

/* Dropdown */
.dropdown-item:hover{
    background-color: #5D16A6;
    color: white;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: #5D16A6;
}

/* Carousel */
.carousel-indicators [data-bs-target]{
    margin: 0 5px 50px 5px;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background-color: #C4C4C4;
}

.carousel-dark .carousel-indicators [data-bs-target]{
    background-color: #5D16A6;
}

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-inner{
    background-color: black;
}

.carousel-inner img{
    opacity: 0.8;
    max-height: 36rem;
}

.carousel-inner h1 , .carousel-inner p{
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.carousel-inner h1{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
}

.carousel-inner p{
    color: #ffffff;
    font-size: 20px;
}

@media screen and (max-width:767px){
    .carousel-inner h1{
        font-size: 25px;
    }

    .carousel-inner p{
        font-size: 10px;
    }

    .carousel-dark .carousel-indicators [data-bs-target]{
        display: none;
    }
}

.carousel-control-prev-icon{
    background: url('https://api.iconify.design/carbon/previous-filled.svg') no-repeat center center / contain;
}

.carousel-control-next-icon{
    background: url('https://api.iconify.design/carbon/previous-filled.svg?rotate=180deg') no-repeat center center / contain;
}

/* footer */
.bg-g{
    height: 35rem;
    width: 100%;
    background: linear-gradient(0.21deg, #000000 -28.09%, #3D0066 107.68%);
}

.row-footer{
    padding: 5rem 1rem;
}

footer img{
    margin-bottom: 30px;
}

.title-footer, .title-footer-menu, .title-footer-hub{
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.05em;
}

.text-footer{
    font-size: 15px;
    color: #F0F0F0;
}

.line{
    border-right: 1px solid #C4C4C4;
}

.text-footer-menu{
    color: #ffffff;
    font-size: 15px;
    line-height: 200%;
}

.text-footer-menu ul{
    list-style-type: disc;
}

.text-footer-menu a{
    text-decoration: none;
    color: #F0F0F0;
    
}

.text-footer-menu a:hover{
    text-decoration: underline;
}

.contact{
    color: #F0F0F0;
    margin-top: 1rem;
    font-size: 18px;
}

.contact a{
    margin-left: 1rem;
    color: #F0F0F0;
    text-decoration: none;
}

.maps{
    margin-top: 20px;
}

.copyright{
    color: #f0f0f0;
    margin: 0 1rem;
}

.copyright p{
    font-size: 13.5px;
}

.btn-copyright a{
    padding: 0 .5rem;
    font-size: 13.5px;
    font-weight: 700;
    color: #f0f0f0;
    text-decoration: none;
}